.slds-modal__container {
    height: 80% !important;
    width: 80rem !important;
    max-width: 90rem;
    max-height: 120rem;
}

.footer {
    font-size: 1.5rem;
    background-color: rgb(22, 50, 92);
    width: 95%;
    left: 0;
    padding: 1.1rem;
}