<template>
    <lightning-card   icon-name="standard:contact">

        <!-- class="slds-modal__header" -->
    <h2 slot="title" >Change Contact
        <!-- <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate"></h2> -->
    </h2>

        <lightning-combobox
                name="Contacts"
                label="Contacts"
                value=""
                placeholder="Select Contact"
                options={contactList}
                onchange={handleContactChange}
                required
        ></lightning-combobox>

        <!-- class="slds-modal__footer footer" -->
    <div slot="footer" class="footer">
        <lightning-button variant="inverse"  class="slds-m-left_x-small" 
        label="Save" title="Save Changes" 
        onclick={handleSave} icon-name="utility:save" 
        icon-position="right" ></lightning-button>

        <lightning-button label="Close" title="Close"   class="slds-m-left_x-small"
        icon-name="utility:close"  onclick={closeQuickAction} icon-position="right"></lightning-button>
    </div>
</lightning-card>
</template>