.THIS {}

.cWH .cuf-content {
    padding: 0 0rem !important;
}

.cWH .slds-p-around--medium {
    padding: 0rem !important;
}

.cWH .slds-modal__content {
    overflow-y: hidden !important;
    height: unset !important;
    max-height: unset !important;
}